#priority-form {
    display: none; /* hide the submission form as default */
}

button { 

   height: 35px;
   width: 80px;
   background: black;
   color: white; /* step in doing something similar to https://www.intercom.com/ */
   border: 2px solid;
   border-radius: 50px; /* rounded edges */
   font-size: 12px;
   font-weight: bold;
   cursor: pointer;
   font-family: sans-serif;

}

body {
   
   background-color:#F4F0EB;
   font-family: sans-serif;
}

input {

    padding: 5px;
    font-size: 12px;
    width: 300px;
    height: 20px;
    font-family: sans-serif;

}
